/*-- css rest --*/
html, body, h1, h2, h3, header, nav, footer, ul, li{ 
	padding: 0;
	margin: 0;
}

/*-- nav styling --*/

nav{
  font-size: 1.0625em;/*17*/
}

nav ul{
  width:93.75%;/*900px*/
  background: #000;
  list-style-type: none;
  overflow:hidden;
  margin: 0 auto;
  padding: 0;
}

nav ul li{
  width:16.666666666667%;/*150px*/
  float:left;
  background:#000;
}

nav ul a{
  display: block;
  height:30px;
  line-height: 30px;
  text-align: center;
}

nav a:link{
  color: #ffcc33;
}

nav a:visited{
  color:orange;
}

nav a:hover{
  color:#f0f0ff;
  text-shadow:7px 5px 5px white;
  text-decoration:underline;
} 

nav a:active{
  color:red;
}


/*-- header styling --*/

h1{
  font-size:3.125em; /*-- 50px --*/
  opacity:0.9;
  color:blue;
  text-shadow:6px 4px 4px yellow;
  font-family: Stalinist One;
  text-align:center;
  margin-bottom:3.333333333333%;/*30px*/
  text-decoration: none;
}

h1, h2, h3{
  font-family: Stalinist One;
}

h1 a:link{
  text-decoration: none;
  color:blue;
}

h2{
  opacity:0.9;
  color:blue;
  text-shadow:6px 4px 4px yellow;
  margin:3.888888888889%;/*35px*/
  font-size: 1.5625em;/*25px*/
  margin-bottom:3.333333333333%;/*30px*/
  text-decoration: none;
   
}

#home p{
  padding-left:3.333333333333%;/*30px*/
  padding-right:3.333333333333%;/*30px*/ 
}




/*-- images --*/

img.symbols{
  padding-top:3.333333333333%;/*30px*/
  display:block;
  padding-left:3.333333333333%;/*30px*/
  width:47.777777777778%;/*430px*/
  max-width: 100%;
}



/*-- body styling --*/

body{
	width:100%;/*900px*/
  max-width:960px;
  margin:0 auto;
  font-size: 100%;
  background-color: green;  
}

#trust{
  font-size: 23px;

  width:410px;
  border: solid 1px;
  padding: 10px;
  background: gray;
  position: relative;
  left: 490px;
  bottom: 340px;

}

#trust h2 {
  text-align: center;
}

#prices{
  font-size: 23px;
  width:50%;
  border: solid 1px;
  padding:5px;
  background: gray;
  position: relative;
  bottom: 340px;
  left: 32px;

}

#prices h2{
  text-align: center;
}

/*-- index styling --*/




/*-- form styling --*/

#request{
  padding-left:31.111111111111%;/*280px*/
  margin-bottom:10%;/*90px*/
  font-size:1.25em;/*20px*/
}

#rstitle{
  text-align: center;
}

#first, #last, #number, #email, #comment{
  margin-bottom:2.222222222222%;/*20px*/
}

/*-- contact information styling --*/

#contact{
  font-size:1.875em;/*30px*/
  line-height: 1.5;
}

#contact, #cinfo{
  text-align: center;
}

#ggoemail{
  text-decoration: underline;
  color:blue;
}

ol li{
  list-style-type: none;
}

/*-- footer styling --*/

footer{
  text-align: center;
}



/*=Media Queries
==============================================*/

/*Tablet Portrait size to standard 960 (devices and browsers)*/
@media screen and (min-width: 768px) and (max-width:959px){
body{
  background-color:#75ea69;
}

h1{
   font-size:2.8125em;/*45px*/
}

#request{
   font-size:1.1875em;/*19px*/
}

}

/*Mobile Landscape size to Tablet Portrait (devices and browsers)*/
@media only screen and (min-width: 480px) and (max-width:767px){
body{
    background-color:tan;
}

p, footer, form{
   font-size:0.9375em;/*15px*/
}

h1{
   font-size:2.5em;/*40px*/    

}

#request{
   font-size:1.125em;/*18px*/
   
}

}
/*Mobile Portrait size to Mobile landscape (devices and browsers)*/
@media only screen and (max-width:479px){
body{
  background-color:white;
}

h1{
   font-size:2.1875em;/*35px*/
}

h2{
   font-size:1.25em;/*20px*/  
}

nav{
  font-size: 0.875em;/*14px*/
}

p, footer{
   font-size:0.875em;/*14px*/
}

#request{
   font-size:1.0625em;/*17px*/
   
}


}  